body{
    background: rgba(29, 36, 133,.9);

}


/* The interface image  */
.interface{
    margin-left:25%;
    
}
.row{
    width:100%;
}

.absolute-pos{
    position: absolute;
}

#computerMain{
    margin-left: 1%;
    margin-top:10%;
}
#computerScreen1{
    margin-right:10%;
        
}
#computerScreen2{
    margin-left:20%;
    margin-top:1%;
}

#computerScreen3{
    margin-left:10%;
    margin-top:9%;
}

#computerScreen4{
    margin-left:-15%;
    margin-top:-23%;
    z-index: 2;
    
}

#man{
    margin-top:7%;
}

#computerLinesBottom{
    margin-top:12%;
    margin:0%;
    z-index: -1;
}


/* Cloud Graphic */
.absolute-pos1{
    position:absolute;

}
.col-md-6{
    height:100%;
    width:100%;
    margin-top:20%; /* manipulate when you want to transition from interface to cloud */
}
#cloudTrigger{
    margin-top:20%;
}


#Cloud{
    height:12%;
    margin-top:-13%;
    margin-left:50%;
} 
 
#cloudElement1{
 
    height:10%;
    margin-left:45%;
 }

/* far left database graphic */
 #cloudElement3{
    margin-left:42%;
    height:9%;
    margin-top:9%;
 }


/* second cloud graphic from the left */
#cloudElement5{
   margin-left:52%;
    height:9%;
    margin-top:9%;
 }

/*  second cloud graphic from the right */
 #cloudElement2{
    margin-left:62.5%;
    height:9%;
    margin-top:9%;
 }
/* far left cloud graphic */
#cloudElement4{
   margin-left:73%;
   height:9%;
   margin-top:9%;
}

#cloudElement6{
    margin-left:60%;
    height:15%;
    width:5%;
    margin-top:30%;
 } 


/* right side information brochure */
.informationBrochure{
    height:100%;
    width:100%;  
}
.interfaceInformation{
    margin-top:15%;
}

.cloudInformation{
  
    width:90%;
}
/* Features and description of product */

.features{
    margin-top:5%;
    text-decoration:underline;
}

ul{
    list-style:none;
}

