body{
    background: rgba(29, 36, 133,.9);
  
}
canvas{
    height: 100vh;
    width:50vw;
    border:solid;
}
.interface{
    margin-left:25%;
}

.informationBrochure{
    height:100vh;
    width:50vw;
    border:solid;
    

}

.edgeGraphic{

    height:100%;
    width:100%;
    border:solid;
    
   

}

.absolute-pos{
    position: absolute;
}

#computerMain{
    margin-left: 1%;
    margin-top:10%;
}
#computerScreen1{
    margin-right:10%;
    

    
}
#computerScreen2{
    margin-left:15%;
    margin-top:1%;
}

#computerScreen3{
    margin-left:10%;
    margin-top:9%;
}

#computerScreen4{
    margin-left:-10%;
    margin-top:-15%;
    z-index: 2;
}

#man{
    margin-top:7%;
}

#computerLinesBottom{
    margin-top:12%;
    margin:0%;
    z-index: -1;
}



.absolute-pos1{
    position:absolute;
}
.cloud{
    margin-top:60%;
    margin-left:25%;
}
#cloudElement4{
    margin:10%;
    margin-top:-10%;
}

#cloudElement1{
    margin:7%;
    height:30%;
    width:30%;
}
#cloudElement1{
    margin:18.5%;
    margin-top:10%;
    height:30%;
    width:30%;
}
#cloudElement2{
    margin:12%;
    margin-top:20%;;
    height:30%;
    width:30%;
}
#cloudElement3{
    margin:15%;
    margin-top:20%;
    height:30%;
    width:30%;
}