body{
    background: rgba(29, 36, 133,.9);

}
.edgeGraphic{

    height:100%;
    width:50%;

}

/* The interface image  */
.interface{
    margin-left:25%;
    
}

.absolute-pos{
    position: absolute;
}

#computerMain{
    margin-left: 1%;
    margin-top:10%;
}
#computerScreen1{
    margin-right:10%;
        
}
#computerScreen2{
    margin-left:20%;
    margin-top:1%;
}

#computerScreen3{
    margin-left:10%;
    margin-top:9%;
}

#computerScreen4{
    margin-left:-15%;
    margin-top:-23%;
    z-index: 2;
}

#man{
    margin-top:7%;
}

#computerLinesBottom{
    margin-top:12%;
    margin:0%;
    z-index: -1;
}


/* Cloud Graphic */
/* .absolute-pos1{
    position:absolute;
} */
.cloud{
    margin-top:40%;
    margin-left:25%;
    height:50%;
}
#Cloud{
    height:12%;
    margin-top:-13%;
    margin-left:10%;
} 
 
#cloudElement1{
 
    height:10%;
    margin-top:10%;
 }
#cloudElement3{
    margin-left:15%;
    height:10%;
    margin-top:24%;
 }

 #cloudElement5{
   margin-left:-7%;
    height:10%;
    margin-top:24%;
 }
#cloudElement2{
    margin-left:37%;
    height:10%;
    margin-top:24%;
 }

#cloudElement4{
   margin-left:58%;
   height:10%;
   margin-top:24%;
}
#cloudElement6{
    margin-left:60%;
    height:15%;
    width:5%;
    margin-top:30%;
 } 


/* right side information brochure */
.informationBrochure{
    height:100%;
    width:100%;  
}
.interfaceInformation{
    margin-top:15%;
}

.cloudInformation{
    margin-top:35%;
}
/* Features and description of product */

.features{
    margin-top:5%;
    text-decoration:underline;
}

ul{
    list-style:none;
}

